<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826049143513-3vjo4orns7iqv5vk1nieqlsvhco38ch6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826049143513-3vjo4orns7iqv5vk1nieqlsvhco38ch6</string>
	<key>API_KEY</key>
	<string>AIzaSyDYGffPLpLqslok2ZBta6Q7DNsTGxdXr5M</string>
	<key>GCM_SENDER_ID</key>
	<string>826049143513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Udea.paseador</string>
	<key>PROJECT_ID</key>
	<string>udea-mascotas-db11c</string>
	<key>STORAGE_BUCKET</key>
	<string>udea-mascotas-db11c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826049143513:ios:829141ed04ddb184bb14c8</string>
</dict>
</plist>